<!-- Navbar -->
<nav id="navbar-main" class="navbar bg-gradient-warning navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container ">
        <img src="../assets/img/brand/Logo.png" style="width: 280px;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="../../../index.html">
                            <img src="../assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                          <span></span>
                          <span></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">

    <i class="fas fa-globe-americas icon americas animated fadeIn"></i>
    <i class="fas fa-shield-alt icon shield animated fadeIn"></i>
    <div class="section section-hero  bg-gradient-warning section-shaped">
        <div class="shape shape-style-3 shape-default">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h1 class="text-white display-1">Monitorear servicio</h1>
                            <h2 class="display-4 font-weight-normal text-white">Seguimiento en tiempo real!</h2>
                            <div class="btn-wrapper mt-4">
                                <!-- <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                              <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                              <span class="btn-inner--text">Play more</span>
                          </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div> -->
    </div>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>