<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <div>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MenuRoleModal" (click)="onReset()">
                                        Nuevo
                                    </button>
                                </th>
                                <th colspan="2" id="alertMenuRole">

                                </th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    Menú hijo
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-search"></i>
                                    </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qNav" [(ngModel)]="qNav" (change)="onGetMenuRole(1)" class="form-control form-control-sm" placeholder="Buscar por item">
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    Rol
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-search"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qRole" [(ngModel)]="qRole" (change)="onGetMenuRole(1)" class="form-control form-control-sm" placeholder="Buscar por rol">
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">F. registro</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">

                            <tr *ngFor="let app of dataMenuRole | rowIndex: pagination.currentPage">
                                <th scope="row">
                                    {{ app.rowIndex }}
                                </th>
                                <td class="budget">
                                    {{ app.navChildrenText }}
                                </td>
                                <td>
                                    {{ app.role }}
                                </td>
                                <td>
                                    {{ app.dateRegister | date }}
                                </td>
                                <td class="text-right">
                                    <button *ngIf="app.statusRegister" class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#MenuRoleModal" (click)="onEdit( app.pkMenuRole )">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#confirmModal" (click)="onConfirm( app.pkMenuRole )">
                                        <span *ngIf="app.statusRegister">
                                            <i class="fa fa-trash"></i>
                                        </span>

                                        <span *ngIf="!app.statusRegister">
                                            <i class="fa fa-recycle"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="row">
                                        <div class="col-7">
                                            {{ infoPagination }}
                                        </div>
                                        <div class="col-5">
                                            <span class="">
                                                Ver inactivos
                                            </span>&nbsp;
                                            <label class="custom-toggle chkInactive">
                                                <input type="checkbox" name="showInactive" [(ngModel)]="showInactive"
                                                    (click)="onGetMenuRole(1, true)">
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th colspan="3">

                                    <div *ngIf="pagination.currentPage" class="text-right">

                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center mt-2">

                                                <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                    <a class="page-link" (click)="onGetMenuRole(pagination.currentPage - 1)">
                                                        <i class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                    <a class="page-link" (click)="onGetMenuRole(page)">
                                                        {{ page }}
                                                    </a>
                                                </li>

                                                <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                    <a class="page-link" (click)="onGetMenuRole(pagination.currentPage + 1)">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="MenuRoleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{ titleModal }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onReset()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #frmMenuRole="ngForm" id="frmMenuRole">
                    <div class="form-group">
                        <label for="txtFkNavChildren">Nav Children</label>
                        <select class="form-control" id="txtFkNavChildren" name="fkNavChildren" placeholder="Seleccione Categoría" #fkNavChildren="ngModel" [(ngModel)]="bodyMenuRole.fkNavChildren">
                            <option value="0" disabled> -- Seleccione -- </option>
                            <option [value]="item.pkNavChildren" *ngFor="let item of dataNavChildren">
                                {{item.navChildrenText}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtRole" class="form-control-label">Rol</label>
                        <select id="txtRole" class="form-control" name="role" [(ngModel)]="bodyMenuRole.role" #role="ngModel" required [ngClass]="{'is-invalid': role.errors?.required && role.touched,
                          'is-valid': !role.errors?.required && role.touched}">
                          <option value="" disabled selected>--Seleccione--</option>
                          <option [value]="role.code" *ngFor="let role of dataRole">
                            {{ role.name }}
                          </option>
                        </select>


                        <span *ngIf="role.errors?.required && role.touched">
                            <small class="text-danger">*Requerido</small>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-12" id="alertMenuRoleModal">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary" data-dismiss="modal" (click)="onReset()">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="frmMenuRole.invalid || loading" (click)="onSubmit(frmMenuRole)">
                  {{ textButton }}
                  <span *ngIf="loading">
                      <i class="fa fa-spinner fa-pulse "></i>
                  </span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje al usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Est&aacute; seguro(a) de <strong class="text-primary">{{ actionConfirm }}</strong> este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseConfirm">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="loading" (click)="onDelete()">
                    Aceptar
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>