<nav id="navbar-main" class="navbar bg-gradient-danger navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container ">
        <img src="../assets/img/brand/Logo.png" style="width: 280px;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <!-- <a href="../../../index.html">
                            <img src="../assets/img/brand/blue.png">
                        </a> -->
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                          <span></span>
                          <span></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
<div id="wrapper ">
    <div class=" bg-gradient-danger ">
        <div>
            <div class="error-body text-center">
                <h1>400</h1>
                <h3 class="text-uppercase">Page Not Found !</h3>
                <p class="text-default m-t-30 m-b-30" style="font-size: 20px; ">
                    <b>
                        Es posible que esta p&aacute;gina ya no se encuentre disponible, por un tema de seguridad, si no est&aacute; deacuerdo puede comunicarse con atenci&oacute;n al cliente
                    </b>

                </p>
                <!-- <a href="/#/admin/home" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a> </div> -->
                <img src="../assets/img/spaceman.png" class="spaceman" style="width: 280px;">
            </div>
        </div>
    </div>
    <footer class="footer bg-gradient-danger text-white">
        ©{{ currentYear }} LLAMATAXI-PERÚ
    </footer>