<div class="table">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">

                    <div class="text-center text-muted mb-4">
                        <small>Configuraci&oacute;n de referidos</small>
                    </div>

                    <form role="form" #frmConfig="ngForm">
                        <p>
                            Por cada usuario asociado el cliente obtendr&aacute; llamacr&eacute;ditos el cual podrá utilizar para hacer descuentos en su servicio de taxi
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Llama-cr&eacute;ditos</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-dollar-sign"></i>
                                                <!-- <i class="ni ni-email-83"></i> -->
                                            </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Llama cr&eacute;dito" name="amountClient" #bnClient="ngModel" [(ngModel)]="bodyReferal.amountClient" [ngClass]="{
                                            'is-invalid': (bnClient.errors?.required || bodyReferal.amountClient > 10 || bodyReferal.amountClient < 1 ) && bnClient.touched,
                                            'is-valid': !bnClient.errors?.required && bodyReferal.amountClient < 10 && bodyReferal.amountClient > 1 && bnClient.touched}" required max="10" min="1">

                                    </div>
                                    <span *ngIf="bnClient.errors?.required && bnClient.touched">
                                      <small class="text-danger">
                                        *Requerido
                                      </small>
                                    </span>
                                    <span *ngIf="bodyReferal.amountClient < 1 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&iacute;nimo 1
                                        </small>
                                    </span>
                                    <span *ngIf="bodyReferal.amountClient > 10 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&aacute;ximo 10
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Bono referido</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-dollar-sign"></i>
                                                <!-- <i class="ni ni-email-83"></i> -->
                                            </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Llama cr&eacute;dito" name="bonusCliRef" #bnClient="ngModel" [(ngModel)]="bodyReferal.bonusCliRef" [ngClass]="{
                                            'is-invalid': (bnClient.errors?.required || bodyReferal.bonusCliRef > 10 || bodyReferal.bonusCliRef < 1 ) && bnClient.touched,
                                            'is-valid': !bnClient.errors?.required && bodyReferal.bonusCliRef < 10 && bodyReferal.bonusCliRef > 1 && bnClient.touched}" required max="10" min="1">

                                    </div>
                                    <span *ngIf="bnClient.errors?.required && bnClient.touched">
                                      <small class="text-danger">
                                        *Requerido
                                      </small>
                                    </span>
                                    <span *ngIf="bodyReferal.bonusCliRef < 1 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&iacute;nimo 1
                                        </small>
                                    </span>
                                    <span *ngIf="bodyReferal.bonusCliRef > 10 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&aacute;ximo 10
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Caducidad (d&iacute;as)</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            <i class="far fa-calendar-times"></i>
                                          </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Caducidad" name="daysExpCli" #bnClient="ngModel" [(ngModel)]="bodyReferal.daysExpClient" [ngClass]="{
                                          'is-invalid': (bnClient.errors?.required || bodyReferal.daysExpClient > 30 || bodyReferal.daysExpClient < 7 ) && bnClient.touched,
                                          'is-valid': !bnClient.errors?.required && bodyReferal.daysExpClient < 30 && bodyReferal.daysExpClient > 7 && bnClient.touched}" required max="30" min="7">

                                    </div>
                                    <span *ngIf="bnClient.errors?.required && bnClient.touched">
                                    <small class="text-danger">
                                      *Requerido
                                    </small>
                                  </span>
                                    <span *ngIf="bodyReferal.daysExpClient < 7 && bnClient.touched">
                                      <small class="text-danger">
                                        *M&iacute;nimo 7
                                      </small>
                                  </span>
                                    <span *ngIf="bodyReferal.daysExpClient > 30 && bnClient.touched">
                                      <small class="text-danger">
                                        *M&aacute;ximo 30
                                      </small>
                                  </span>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <p>
                            Por cada usuario asociado el conductor obtendr&aacute; puntos que podrá canjear por premios
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Puntos</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-tag"></i>
                                                <!-- <i class="ni ni-lock-circle-open"></i> -->
                                            </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Puntos" required name="amountDriver" #bnDriver="ngModel" [(ngModel)]="bodyReferal.amountDriver" required [ngClass]="{
                                            'is-invalid': (bnDriver.errors?.required || bodyReferal.amountDriver > 50 || bodyReferal.amountDriver < 1 ) && bnDriver.touched,
                                            'is-valid': !bnDriver.errors?.required && bodyReferal.amountDriver < 50 && bodyReferal.amountDriver > 1 && bnDriver.touched}">

                                    </div>
                                    <span *ngIf="bnDriver.errors?.required && bnDriver.touched">
                                        <small class="text-danger">
                                          *Requerido
                                        </small>
                                    </span>
                                    <span *ngIf="bodyReferal.amountDriver < 1 && bnDriver.touched">
                                        <small class="text-danger">
                                            *M&iacute;nimo 1
                                        </small>
                                    </span>
                                    <span *ngIf="bodyReferal.amountDriver > 50 && bnDriver.touched">
                                        <small class="text-danger">
                                            *M&aacute;ximo 50
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Bono referido</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-tag"></i>
                                                <!-- <i class="ni ni-email-83"></i> -->
                                            </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Llama cr&eacute;dito" name="bonusDriRef" #bnClient="ngModel" [(ngModel)]="bodyReferal.bonusDriRef" [ngClass]="{
                                            'is-invalid': (bnClient.errors?.required || bodyReferal.bonusDriRef > 10 || bodyReferal.bonusDriRef < 1 ) && bnClient.touched,
                                            'is-valid': !bnClient.errors?.required && bodyReferal.bonusDriRef < 10 && bodyReferal.bonusDriRef > 1 && bnClient.touched}" required max="10" min="1">

                                    </div>
                                    <span *ngIf="bnClient.errors?.required && bnClient.touched">
                                      <small class="text-danger">
                                        *Requerido
                                      </small>
                                    </span>
                                    <span *ngIf="bodyReferal.bonusDriRef < 1 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&iacute;nimo 1
                                        </small>
                                    </span>
                                    <span *ngIf="bodyReferal.bonusDriRef > 10 && bnClient.touched">
                                        <small class="text-danger">
                                          *M&aacute;ximo 10
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Caducidad (d&iacute;as)</label>
                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            <i class="far fa-calendar-times"></i>
                                          </span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Caducidad" name="daysExpDri" #bnClient="ngModel" [(ngModel)]="bodyReferal.daysExpDriver" [ngClass]="{
                                          'is-invalid': (bnClient.errors?.required || bodyReferal.daysExpDriver > 30 || bodyReferal.daysExpDriver < 7 ) && bnClient.touched,
                                          'is-valid': !bnClient.errors?.required && bodyReferal.daysExpDriver < 30 && bodyReferal.daysExpDriver > 7 && bnClient.touched}" required max="30" min="7">

                                    </div>
                                    <span *ngIf="bnClient.errors?.required && bnClient.touched">
                                    <small class="text-danger">
                                      *Requerido
                                    </small>
                                  </span>
                                    <span *ngIf="bodyReferal.daysExpDriver < 7 && bnClient.touched">
                                      <small class="text-danger">
                                        *M&iacute;nimo 7
                                      </small>
                                  </span>
                                    <span *ngIf="bodyReferal.daysExpDriver > 30 && bnClient.touched">
                                      <small class="text-danger">
                                        *M&aacute;ximo 30
                                      </small>
                                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4" [disabled]="frmConfig.invalid || loading " (click)="onUpdate(frmConfig)">
                              Guardar cambios
                              <!-- <span *ngIf="loading">
                                  <i class="fa fa-spinner fa-pulse "></i>
                              </span> -->
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light"><small>Forgot password?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light"><small>Create new account</small></a>
                </div>
            </div> -->
        </div>
    </div>
</div>