<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <div>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="3">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CouponModal">
                                        Nuevo
                                    </button>
                                </th>
                                <th colspan="4" id="alertBrand">

                                </th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    C&oacute;digo
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-search"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qCode" [(ngModel)]="qCode" (change)="onGetCoupon(1)" class="form-control form-control-sm" placeholder="Buscar por código">
                                            </div>
                                        </div>
                                    </div>

                                </th>
                                <th scope="col">
                                    Nombre
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-search"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">

                                                <input type="text" name="qTitle" [(ngModel)]="qTitle" (change)="onGetCoupon(1)" class="form-control form-control-sm" placeholder="Buscar por nombre">

                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    Bonus
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search"></i>
                                  </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">
                                                          <i class="fas fa-less-than-equal"></i>
                                                        </span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Mayor igual a" aria-label="Username" aria-describedby="basic-addon1" name="qLte" [(ngModel)]="qLte" (change)="onGetCoupon(1)" min="0">
                                                </div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-greater-than-equal"></i>
                                                      </span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Menor igual a" aria-label="Username" aria-describedby="basic-addon1" name="qGte" [(ngModel)]="qGte" (change)="onGetCoupon(1)" min="0">
                                                </div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-equals"></i>
                                                      </span>
                                                    </div>
                                                    <input type="number" class="form-control" placeholder="Igual a" aria-label="Username" aria-describedby="basic-addon1" name="qEq" [(ngModel)]="qEq" (change)="onGetCoupon(1)" min="0">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    Rol
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-search"></i>
                                    </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">

                                                <div class="custom-control custom-radio mb-3">
                                                    <input type="radio" id="rbtAllV" name="qRole" class="custom-control-input" value="ALL" [(ngModel)]="qRole" (change)="onGetCoupon(1)">
                                                    <label class="custom-control-label" for="rbtAllV">
                                                  Todos
                                                </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtYesV" name="qRole" class="custom-control-input" value="CLIENT" [(ngModel)]="qRole" (change)="onGetCoupon(1)">
                                                    <label class="custom-control-label" for="rbtYesV">
                                                  Cliente
                                                </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtNotV" name="qRole" class="custom-control-input" value="DRIVER" [(ngModel)]="qRole" (change)="onGetCoupon(1)">
                                                    <label class="custom-control-label" for="rbtNotV">
                                                  Conductor
                                                </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">Expira</th>
                                <th scope=""></th>
                            </tr>
                        </thead>

                        <tr *ngIf="loadingList">
                            <td colspan="8" class="text-center">
                                <i class="fa fa-spinner fa-pulse fa-3x "></i>
                            </td>
                        </tr>
                        <tbody *ngIf="!loadingList" class="list">

                            <tr *ngFor="let coupon of dataCoupon | rowIndex: pagination.currentPage">
                                <th scope="row">
                                    {{ coupon.rowIndex }}
                                </th>
                                <td>
                                    {{ coupon.codeCoupon }}
                                </td>
                                <td>
                                    {{ coupon.titleCoupon }}
                                </td>

                                <td class="text-right">
                                    {{ coupon.amountCoupon | number: '.2-2' }}
                                </td>

                                <td>
                                    {{ coupon.roleCoupon | roleCoupon }}
                                </td>
                                <td [ngClass]="{'bg-danger text-white': coupon.isExpired, 'bg-warning text-white': coupon.forExpired}">
                                    {{ coupon.dateExpiration | date }}
                                </td>
                                <td style="width: 100px;" class="text-right">
                                    <button *ngIf="coupon.statusRegister" class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#CouponModal" (click)="onEdit( coupon.pkCoupon )">
                                      <i class="fa fa-edit"></i>
                                    </button>

                                    <button class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#confirmModal" (click)="onConfirm( coupon.pkCoupon )">
                                      <span *ngIf="coupon.statusRegister">
                                        <i class="fa fa-trash"></i>
                                      </span>

                                      <span *ngIf="!coupon.statusRegister">
                                        <i class="fa fa-recycle"></i>
                                      </span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="row">
                                        <div class="col-7">
                                            {{ infoPagination }}
                                        </div>
                                        <div class="col-5">
                                            <span class="">
                                                Ver inactivos
                                            </span>&nbsp;
                                            <label class="custom-toggle chkInactive">
                                                <input type="checkbox" name="showInactive" [(ngModel)]="showInactive"
                                                    (click)="onGetCoupon(1, true)">
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th colspan="4">

                                    <div *ngIf="pagination.currentPage" class="text-right">

                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center mt-2">

                                                <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                    <a class="page-link" (click)="onGetCoupon(pagination.currentPage - 1)">
                                                        <i class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                    <a class="page-link" (click)="onGetCoupon(page)">
                                                        {{ page }}
                                                    </a>
                                                </li>

                                                <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                    <a class="page-link" (click)="onGetCoupon(pagination.currentPage + 1)">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="CouponModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{ titleModal }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onReset()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #frmCoupon="ngForm" id="frmCoupon">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-qrcode"></i>
                                            <!-- <i class="ni ni-lock-circle-open"></i> -->
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-center text-uppercase" placeholder="Código" name="code" #code="ngModel" [(ngModel)]="bodyCoupon.codeCoupon" [ngClass]="{
                                        'is-invalid': (code.errors?.required || code.errors?.pattern ) && code.touched,
                                        'is-valid': !code.errors?.required && !code.errors?.pattern && code.touched}" required pattern="[a-zA-Z0-9]{0,8}" minlength="6" maxlength="8">


                                </div>

                                <span *ngIf="code.errors?.required && code.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>

                                <span *ngIf="code.errors?.minlength && code.touched">
                                    <small class="text-danger">
                                        *M&iacute;mino 6 caracteres
                                    </small>
                                </span>

                                <span *ngIf="code.errors?.maxlength && code.touched">
                                    <small class="text-danger">
                                        *M&aacute;ximo 8 caracteres
                                    </small>
                                </span>

                                <span *ngIf="code.errors?.pattern && code.touched">
                                    <small class="text-danger">
                                        *Solo letras y n&uacute;meros
                                    </small>
                                </span>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-times"></i>
                                        </span>
                                    </div>
                                    <input type="date" class="form-control text-right" placeholder="Expira" required name="exp" #exp="ngModel" [(ngModel)]="bodyCoupon.dateExpiration" [min]="today" required [ngClass]="{
                                        'is-invalid': exp.errors?.required && exp.touched,
                                        'is-valid': !exp.errors?.required && exp.touched}">

                                </div>
                                <span *ngIf="exp.errors?.required && exp.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for=""> Nombre </label>
                                <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="bodyCoupon.titleCoupon" [ngClass]="{
                                    'is-invalid': (title.errors?.required || title.errors?.maxlength || title.errors?.pattern ) && title.touched,
                                    'is-valid': !title.errors?.required && !title.errors?.maxlength && !title.errors?.pattern && title.touched}" required pattern="[a-zA-Z0-9áéíóúüÁÉÍÓÚÜÑñ\ \(\)\,\.\-]{0,40}" maxlength="30">

                                <span *ngIf="title.errors?.required && title.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>

                                <span *ngIf="title.errors?.pattern && title.touched">
                                    <small class="text-danger">
                                        *Solo letras, n&uacute;meros y ( ) - , .
                                    </small>
                                </span>

                                <span *ngIf="title.errors?.maxlength && title.touched">
                                    <small class="text-danger">
                                        *M&aacute;ximo 30 caracteres
                                    </small>
                                </span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for=""> Bonus </label>
                                <input type="number" class="form-control text-right" name="amount" #amount="ngModel" [(ngModel)]="bodyCoupon.amountCoupon" [ngClass]="{
                                    'is-invalid': (amount.errors?.required || bodyCoupon.amountCoupon < 2 || bodyCoupon.amountCoupon > 50 ) && amount.touched,
                                    'is-valid': !amount.errors?.required && bodyCoupon.amountCoupon >= 2 || bodyCoupon.amountCoupon <= 50 && !amount.errors?.pattern && amount.touched}" required pattern="[a-zA-Z0-9áéíóúüÁÉÍÓÚÜÑñ\ \(\)\,\.\-]{0,100}">

                                <span *ngIf="amount.errors?.required && amount.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>

                                <span *ngIf="bodyCoupon.amountCoupon < 2 && amount.touched">
                                    <small class="text-danger">
                                        *M&iacute;nimo 2
                                    </small>
                                </span>

                                <span *ngIf="bodyCoupon.amountCoupon > 50 && amount.touched">
                                    <small class="text-danger">
                                        *M&iacute;ximo 50
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for=""> Descripci&oacute;n </label>
                                <textarea class="form-control" name="description" #desc="ngModel" [(ngModel)]="bodyCoupon.descriptionCoupon" cols="30" rows="2" [ngClass]="{
                                    'is-invalid': (desc.errors?.required || desc.errors?.maxlength || desc.errors?.pattern ) && desc.touched,
                                    'is-valid': !desc.errors?.required && !desc.errors?.maxlength && !desc.errors?.pattern && desc.touched}" required pattern="[a-zA-Z0-9áéíóúüÁÉÍÓÚÜÑñ\ \(\)\,\.\-\/]{0,50}" maxlength="40">

                                </textarea>

                                <span *ngIf="desc.errors?.required && desc.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>

                                <span *ngIf="desc.errors?.pattern && desc.touched">
                                    <small class="text-danger">
                                        *Solo letras, n&uacute;meros y ( ) - , .
                                    </small>
                                </span>

                                <span *ngIf="desc.errors?.maxlength && desc.touched">
                                    <small class="text-danger">
                                        *M&aacute;ximo 40 caracteres
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for=""> Tarifa min </label>
                                <input type="number" class="form-control text-right" name="minService" #minService="ngModel" placeholder="0.00" [(ngModel)]="bodyCoupon.minRateService" [ngClass]="{
                                    'is-invalid':( minService.errors?.required || bodyCoupon.minRateService < 0 || bodyCoupon.minRateService > 50 ) && minService.touched,
                                    'is-valid': !minService.errors?.required && bodyCoupon.minRateService >= 0 && bodyCoupon.minRateService <= 50 && minService.touched}" min="0" max="50" required>

                                <span *ngIf="minService.errors?.required && minService.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>

                                <span *ngIf="bodyCoupon.minRateService < 0 && minService.touched">
                                    <small class="text-danger">
                                        *M&iacute;nimo 0
                                    </small>
                                </span>

                                <span *ngIf="bodyCoupon.minRateService > 50 && minService.touched">
                                    <small class="text-danger">
                                        *M&aacute;ximo 50
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for=""> Caducidad (días) </label>
                                <input type="number" class="form-control text-right" name="daysExpired" #dExp="ngModel" placeholder="0" [ngClass]="{
                                    'is-invalid': dExp.errors?.required && dExp.touched,
                                    'is-valid': !dExp.errors?.required && dExp.touched}" [min]="7" [max]="30" [(ngModel)]="bodyCoupon.daysExpiration">

                                <span *ngIf="dExp.errors?.required && dExp.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for=""> Usuario </label>
                                <select class="form-control" name="role" #role="ngModel" [(ngModel)]="bodyCoupon.roleCoupon" required [ngClass]="{
                                    'is-invalid': role.errors?.required && role.touched,
                                    'is-valid': !role.errors?.required && role.touched}">
                                    <option value="" disabled selected>-- seleccione --</option>
                                    <option value="CLIENT_ROLE">Cliente</option>
                                    <option value="DRIVER_ROLE">Conductor</option>
                                </select>

                                <span *ngIf="role.errors?.required && role.touched">
                                    <small class="text-danger">
                                        *Requerido
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" id="alertCouponModal">

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary" data-dismiss="modal" (click)="onReset()">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="frmCoupon.invalid || loading" (click)="onSubmit(frmCoupon)">
                    {{ textButton }}
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje al usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Est&aacute; seguro(a) de <strong class="text-primary">{{ actionConfirm }}</strong> este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseConfirm">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="loading" (click)="onDelete()">
                    Aceptar
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>