.fas,
.far {
    position: absolute;
    font-size: 55px;
    color: rgba(34, 5, 102, 0.5);
}

.like {
    color: rgba(95, 89, 109, 0.5);
    bottom: 4%;
    right: 5%;
    transform: rotate(15deg);
}

.sweati {
    color: rgba(95, 89, 109, 0.5);
    bottom: -5%;
    left: -1%;
    font-size: 87px;
    transform: rotate(-35deg);
}

.beam {
    bottom: 56%;
    left: 14%;
    transform: rotate(-5deg);
}

.user {
    top: 1%;
    right: 1%;
    font-size: 120px;
    transform: rotate(2deg);
}

.marked {
    color: rgba(95, 89, 109, 0.5);
    bottom: 20%;
    right: 15%;
    font-size: 119px;
    transform: rotate(30deg);
}

.marker {
    color: rgba(95, 89, 109, 0.5);
    bottom: 16%;
    left: 18%;
    font-size: 140px;
    transform: rotate(-10deg);
}

.car {
    color: rgba(95, 89, 109, 0.5);
    bottom: -5%;
    right: 25%;
    font-size: 119px;
    transform: rotate(-2deg);
}

.clock {
    color: rgba(95, 89, 109, 0.5);
    bottom: -25px;
    left: 525px;
    transform: rotate(2deg);
}

.briefcase {
    color: rgba(95, 89, 109, 0.5);
    bottom: -170px;
    left: 695px;
    transform: rotate(-2deg);
}

.americas {
    color: rgba(144, 253, 168, 0.5);
    top: 2%;
    left: 40%;
    font-size: 190px;
    transform: rotate(2deg);
}

.moon {
    color: rgba(144, 253, 168, 0.5);
    top: 20%;
    right: 5%;
    font-size: 165px;
    transform: rotate(2deg);
}

.money {
    color: rgba(74, 53, 126, 0.3);
    top: 20px;
    left: 13px;
    font-size: 115px;
    transform: rotate(-35deg);
}
