.chkInactive {
    position: relative;
    right: -90px;
    top: -20px;
}

.spinReniec {
    position: relative;
    right: -87.5%;
    top: -35px;
}

.msgLength {
    position: absolute;
    right: 45px;
}