<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="table-responsive">

                <div>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="3">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUser">
                                      Nuevo
                                    </button>
                                </th>
                                <th colspan="3" id="alertUser">

                                </th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    Apellidos y nombres
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-search"></i>
                                      </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qName" [(ngModel)]="qName" (change)="onGetListUser(1)" class="form-control form-control-sm" placeholder="Buscar por nombre">
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    Usuario
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-search"></i>
                                      </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qUser" [(ngModel)]="qUser" (change)="onGetListUser(1)" class="form-control form-control-sm" placeholder="Buscar por usuario">
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <!-- <th scope="col">
                                    Email
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-search"></i>
                                      </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">
                                                <input type="text" name="qEmail" [(ngModel)]="qEmail" (change)="onGetListUser(1)" class="form-control form-control-sm" placeholder="Buscar por email">
                                            </div>
                                        </div>
                                    </div>
                                </th> -->
                                <th>
                                    Rol
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btnSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-search"></i>
                                    </button>
                                        <div class="dropdown-menu">
                                            <div class="px-4 py-3">

                                                <div class="custom-control custom-radio mb-3">
                                                    <input type="radio" id="rbtAll" name="qRole" class="custom-control-input" value="" [(ngModel)]="qRole" (change)="onGetListUser(1)">
                                                    <label class="custom-control-label" for="rbtAll">
                                                      Todos
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtClient" name="qRole" class="custom-control-input" value="CLIENT_ROLE" [(ngModel)]="qRole" (change)="onGetListUser(1)">
                                                    <label class="custom-control-label" for="rbtClient">
                                                      Cliente
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtDriver" name="qRole" class="custom-control-input" value="DRIVER_ROLE" [(ngModel)]="qRole" (change)="onGetListUser(1)">
                                                    <label class="custom-control-label" for="rbtDriver">
                                                      Conductor
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtAdmin" name="qRole" class="custom-control-input" value="ADMIN_ROLE" [(ngModel)]="qRole" (change)="onGetListUser(1)">
                                                    <label class="custom-control-label" for="rbtAdmin">
                                                      Administrador
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="rbtAtt" name="qRole" class="custom-control-input" value="ATTENTION_ROLE" [(ngModel)]="qRole" (change)="onGetListUser(1)">
                                                    <label class="custom-control-label" for="rbtAtt">
                                                      Atención al cliente
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th>Verificado</th>
                                <th>Conectado</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tr *ngIf="loadingList">
                            <td colspan="8" class="text-center">
                                <i class="fa fa-spinner fa-pulse fa-3x "></i>
                            </td>
                        </tr>
                        <tbody *ngIf="!loadingList" class="list">

                            <tr *ngFor="let user of dataUser | rowIndex: pagination.currentPage">
                                <td>
                                    {{ user.rowIndex }}
                                </td>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a [href]=" user.role | userUrl: user.pkUser: user.pkDriver " target="_blank" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" [src]="pathImg + user.img + token">
                                        </a>
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">
                                              {{ user.nameComplete | slice: 0: 29 }} {{ user.nameComplete.length > 29 ? '...' : '' }}
                                            </span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    {{ user.userName }}
                                </td>
                                <!-- <td>
                                    {{ user.email }}
                                </td> -->
                                <td>
                                    {{ user.role | roles }}
                                </td>
                                <td>
                                    <span class="badge badge-dot">
                                    <i  [ngClass]="{'bg-success': user.verified, 'bg-danger': !user.verified}">

                                    </i>
                                    <span class="status">
                                      {{ user.verified | yesno }}
                                    </span>
                                    </span>
                                </td>

                                <td>
                                    <span class="badge badge-dot">
                                  <i  [ngClass]="{'bg-success': user.statusSocket, 'bg-danger': !user.statusSocket}">

                                  </i>
                                  <span class="status">
                                    {{ user.statusSocket | yesno }}
                                  </span>
                                    </span>
                                </td>
                                <!-- <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="row">
                                        <div class="col-7">
                                            {{ infoPagination }}
                                        </div>
                                        <div class="col-5">
                                            <span class="">
                                              Ver inactivos
                                            </span>&nbsp;
                                            <label class="custom-toggle chkInactive">
                                                <input type="checkbox" name="showInactive" [(ngModel)]="showInactive" (click)="onGetListUser(1, true)">
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th colspan="3">

                                    <div *ngIf="pagination.currentPage" class="text-right">

                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center mt-2">

                                                <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                    <a class="page-link" (click)="onGetListUser(pagination.currentPage - 1)">
                                                        <i class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                    <a class="page-link" (click)="onGetListUser(page)">
                                                {{ page }}
                                            </a>
                                                </li>

                                                <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                    <a class="page-link" (click)="onGetListUser(pagination.currentPage + 1)">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUser" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ titleModal }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #frmUser="ngForm" id="frmUser">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">

                                <label class="form-control-label" for="cbxTypeDoc"> Tipo Documento </label>
                                <select class="form-control" name="cbxTypeDoc" id="cbxTypeDoc" (change)="onChangeTypeDoc()">
                                  <option value="" disabled>-- Seleccione --</option>
                                  <option *ngFor="let doc of dataTypeDoc" [value]=" doc.pkTypeDocument " >
                                    {{ doc.nameDocument }}
                                  </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtDocument"># Documento</label>
                                <input class="form-control" type="text" id="txtDocument" name="document" #document="ngModel" [(ngModel)]="bodyUser.document" (change)="onChangeDocument()" [ngClass]="{'
                            is-invalid':
                                (document.errors?.required || document.errors?.pattern || document.errors?.minlength || document.errors?.maxlength ) && document.touched,
                              'is-valid': !document.errors?.required && !document.errors?.pattern && !document.errors?.minlength && !document.errors?.maxlength && document.touched}" pattern="^[\d]{0,20}$" required [minlength]="docLong" [maxlength]="docLong">
                                <span *ngIf="document.errors?.pattern && document.touched">
                                  <small class="text-danger">*Solo n&uacute;meros</small>
                                </span>
                                <span *ngIf="document.errors?.required && document.touched">
                                  <small class="text-danger">*Requerido</small>
                                </span>

                                <span *ngIf="document.errors?.minlength && document.touched">
                                  <small class="text-danger">
                                    *M&iacute;nimo {{ docLong }} caracteres
                                  </small>
                                </span>

                                <span *ngIf="document.errors?.maxlength && document.touched">
                                  <small class="text-danger">
                                    *M&aacute;ximo {{ docLong }} caracteres
                                  </small>
                                </span>
                                <span *ngIf="loadingReniec" class="spinReniec text-primary">
                                  <i class="fa fa-spinner fa-pulse"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtName" class="form-control-label">Nombres</label>
                                <input class="form-control" type="text" id="txtName" name="names" #names="ngModel" [(ngModel)]="bodyUser.name" [ngClass]="{'
                            is-invalid': (names.errors?.required || names.errors?.minlength ) && names.touched,
                          'is-valid': !names.errors?.required && !names.errors?.minlength && names.touched}" required minlength="3">

                                <span *ngIf="names.errors?.required && names.touched">
                                  <small class="text-danger">*Requerido</small>
                                </span>

                                <span *ngIf="names.errors?.minlength && names.touched">
                                  <small class="text-danger">*M&iacute;nimo 3 caracteres</small>
                                </span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtSurname" class="form-control-label">Apellidos</label>
                                <input class="form-control" type="text" id="txtSurname" name="surnames" #surname="ngModel" [(ngModel)]="bodyUser.surname" [ngClass]="{'
                            is-invalid': (surname.errors?.required || surname.errors?.minlength ) && surname.touched,
                          'is-valid': !surname.errors?.required && !surname.errors?.minlength && surname.touched}" required minlength="3">

                                <span *ngIf="surname.errors?.required && surname.touched">
                                  <small class="text-danger">*Requerido</small>
                                </span>

                                <span *ngIf="surname.errors?.minlength && surname.touched">
                                  <small class="text-danger">*M&iacute;nimo 3 caracteres</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtName" class="form-control-label">Sexo</label>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="rbtM" name="customRadio" [(ngModel)]="bodyUser.sex" class="custom-control-input" value="M">
                                    <label class="custom-control-label" for="rbtM">Masculino</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="rbtF" name="customRadio" class="custom-control-input" value="F" [(ngModel)]="bodyUser.sex">
                                    <label class="custom-control-label" for="rbtF">Femenino</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">

                                <label class="form-control-label" for="cbxNationality"> Nacionalidad </label>
                                <ng-select [items]="dataNationality" bindValue="pkNationality" bindLabel="nameCountry" [(ngModel)]="bodyUser.fkNationality" (change)="onChangeCountry($event)" name="country" #country="ngModel" required="true" class="is-invalid" [ngClass]="{
                                  'is-invalid': country.errors?.required ,
                                  'is-valid': !country.errors?.required
                                }">

                                </ng-select>
                                <span *ngIf="country.errors?.required ">
                                  <small class="text-danger">*Requerido</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="txtEmail">Email</label>
                                <input type="email" id="txtEmail" class="form-control" name="email" [(ngModel)]="bodyUser.email" #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required [ngClass]="{
                                  'is-invalid': (email.errors?.required || email.errors?.pattern ) && email.touched,
                                  'is-valid': (!email.errors?.required || !email.errors?.pattern ) && email.touched
                                }">

                                <span *ngIf="email.errors?.required && email.touched">
                                  <small class="text-danger">*Requerido</small>
                                </span>

                                <span *ngIf="email.errors?.pattern && email.touched">
                                  <small class="text-danger">*Email inv&aacute;lido</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label class="form-control-label" for="">Tel&eacute;fono</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                      {{ prefix }}
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="000000000" name="phone" [(ngModel)]="bodyUser.phone" #phone="ngModel" [ngClass]="{
                                  'is-invalid': phone.errors?.required && phone.touched,
                                  'is-valid': !phone.errors?.required && phone.touched
                                }" required>

                            </div>
                            <span *ngIf="phone.errors?.required && phone.touched">
                                <small class="text-danger">*Requerido</small>
                              </span>
                        </div>

                        <div class="col-6">
                            <label class="form-control-label" for="cbxRole">Rol de usuario</label>
                            <select name="role" [(ngModel)]="bodyUser.role" #role="ngModel" id="cbxRole" class="form-control" required [ngClass]="{
                              'is-invalid': role.errors?.required && role.touched,
                              'is-valid': !role.errors?.required && role.touched
                            }">
                            <option value="" disabled> --Seleccione--</option>
                            <option value="ADMIN_ROLE" >Administrador</option>
                            <option value="ATTENTION_DOLE" >Atenci&oacute;n al cliente</option>
                          </select>

                            <span *ngIf="role.errors?.required && role.touched">
                              <small class="text-danger">*Requerido</small>
                            </span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">

                            <div class="form-group">
                                <label for="txtUserName" class="form-control-label">Usuario</label>
                                <input class="form-control" type="text" id="txtUserName" name="userName" #userName="ngModel" [(ngModel)]="bodyUser.userName" [ngClass]="{'is-invalid': (userName.errors?.required || userName.errors?.minlength ) && userName.touched,
                              'is-valid': !userName.errors?.required && !userName.errors?.minlength && userName.touched}" pattern="^[a-zA-Z0-9@._-]{0,30}$" required minlength="9">

                                <span *ngIf="userName.errors?.required && userName.touched">
                            <small class="text-danger">*Requerido</small>
                          </span>

                                <span *ngIf="userName.errors?.pattern && userName.touched">
                            <small class="text-danger">*Solo email o tel&eacute;fono</small>
                          </span>

                                <span *ngIf="userName.errors?.minlength && userName.touched">
                            <small class="text-danger">*M&iacute;nimo 9 caracteres</small>
                          </span>
                            </div>

                        </div>
                        <div class="col-6">

                            <div class="form-group">
                                <label for="txtpass" class="form-control-label">Contrase&ntilde;a</label>
                                <input class="form-control" type="text" id="txtpass" name="pass" #pass="ngModel" [(ngModel)]="bodyUser.userPassword" [ngClass]="{'is-invalid': (pass.errors?.required || pass.errors?.minlength ) && pass.touched,
                            'is-valid': !pass.errors?.required && !pass.errors?.minlength && pass.touched}" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*" required minlength="6">

                                <span *ngIf="pass.errors?.required && pass.touched">
                                <small class="text-danger">*Requerido</small>
                              </span>

                                <span *ngIf="pass.errors?.pattern && pass.touched">
                                <small class="text-danger">
                                  *Una mayuscula, minuscula y un n&uacute;mero
                                </small>
                              </span>

                                <span *ngIf="pass.errors?.minlength && pass.touched">
                                <small class="text-danger">*M&iacute;nimo 9 caracteres</small>
                              </span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" id="alertUserModal">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModal" (click)="onResetForm()">
                  Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="frmUser.invalid || loading" (click)="onSubmitUser(frmUser)">
                  {{ txtButton }}

                  <span *ngIf="loading" class="text-primary">
                    <i class="fa fa-spinner fa-pulse"></i>
                  </span>
                </button>
            </div>
        </div>
    </div>
</div>