<div class="container" style="padding-right: 50px;">
    <div #mapMonitor class="mapMonitor">

        <div #infoPolygon>
            <div class="">
                <h4 class="card-title">Zonas calientes</h4>
                <h6 class="card-subtitle mb-2 text-muted">Oferta y demanda</h6>
                <p class="card-text">
                    <b class="text-primary"> {{ totalServicesZone }} </b> servicios pendientes y <b class="text-success"> {{ totalDriverZone }} </b> conductores cercanos.
                </p>
                <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>

        <div #infoDriver style="width: 270px;">
            <div class="">
                <h4 class="card-title">{{ currentDriver.codeCategory | categoryDriver}}

                    <span class="badge badge-pill badge-lg " [ngClass]="{'badge-success': !currentDriver.occupied, 'badge-warning': currentDriver.occupied}">
                        {{ currentDriver.occupied | occupied }}
                    </span>
                </h4>

                <p class="card-text text-center">
                    <b>
                        {{ currentDriver.nameComplete }}
                    </b>
                </p>
                <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>

        <div #infoClient style="width: 200px;">
            <div class="">
                <h4 class="card-title">
                    {{ currentClient.codeCategory | categoryDriver}}
                </h4>

                <p class="card-text text-center">
                    <b>
                            {{ currentClient.nameComplete }}
                        </b>
                </p>
            </div>
        </div>

    </div>
    <button class="btn btn-primary btnRefresh bg-gradient-blue" (click)="onRefresh()">
        Restaurar conductores
    </button> lorem ipsum
</div>
<br>
<br>
<hr>