<!-- Card stats -->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Tr&aacute;fico</h5>
                        <span class="h2 font-weight-bold mb-0">
                          {{ dataCards.currentTraffic }}
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-chart-bar-32"></i>
                            <!-- <i class="ni ni-active-40"></i> -->
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                    <span class=" mr-2" [ngClass]="{'text-success': dataCards.percentTraffic > 0,
                    'text-danger': dataCards.percentTraffic <= 0}">
                      <i class="fa fa-arrow-up"></i> {{ dataCards.percentTraffic | number: '.2-2' }}%
                    </span>
                    <span class="text-nowrap">Del mes pasado</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Nuevos usuarios</h5>
                        <span class="h2 font-weight-bold mb-0">
                          {{ dataCards.currentNewUsers }}
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <!-- <i class="ni ni-chart-pie-35"></i> -->
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                    <span class=" mr-2" [ngClass]="{'text-success': dataCards.percentNewUsers > 0,
                  'text-danger': dataCards.percentNewUsers <= 0}">
                    <i class="fa fa-arrow-up"></i> {{ dataCards.percentNewUsers | number: '.2-2' }}%
                  </span>
                    <span class="text-nowrap">Del mes pasado</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Servicios de taxi</h5>
                        <span class="h2 font-weight-bold mb-0">
                          {{ dataCards.currentServices }}
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="ni ni-money-coins"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                    <span class=" mr-2" [ngClass]="{'text-success': dataCards.percentServices > 0,
                  'text-danger': dataCards.percentServices <= 0}">
                    <i class="fa fa-arrow-up"></i> {{ dataCards.percentServices | number: '.2-2' }}%
                  </span>
                    <span class="text-nowrap">Del mes pasado</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Taxistas verifi.</h5>
                        <span class="h2 font-weight-bold mb-0">
                          {{ dataCards.currentVerified }}
                        </span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                            <!-- <i class="ni ni-chart-bar-32"></i> -->
                            <i class="fas fa-user-check"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                    <span class=" mr-2" [ngClass]="{'text-success': dataCards.percentVerified > 0,
                  'text-danger': dataCards.percentVerified <= 0}">
                    <i class="fa fa-arrow-up"></i> {{ dataCards.percentVerified | number: '.2-2' }}%
                  </span>
                    <span class="text-nowrap">Del mes pasado</span>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-7">
        <!-- bg-default -->
        <div class="card bg-default ">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- text-light text-white-->
                        <h6 class="text-light text-uppercase ls-1 mb-1">Servicios de taxi en el mes</h6>
                        <h5 class="h3 text-white mb-0">Sales value</h5>
                    </div>
                    <!-- <div class="col">
                        <ul class="nav nav-pills justify-content-end">
                            <li class="nav-item mr-2 mr-md-0">
                                <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                    <span class="d-none d-md-block">Month</span>
                                    <span class="d-md-none">M</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                    <span class="d-none d-md-block">Week</span>
                                    <span class="d-md-none">W</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="card-body">
                <!-- Chart -->
                <div class="chart">
                    <!-- Chart wrapper -->
                    <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [options]="polarOpt" [chartType]="polarAreaChartType" [colors]="polarChartColors">
                    </canvas>
                </div>
                <div style="position: absolute; bottom: 20px !important;" class="custom-control custom-radio custom-control-inline">

                    <select name="polarMonth" [(ngModel)]="polarMonth" class="form-control ">
                      <option *ngFor="let mt of dataMonth" [value]="mt.value"> {{ mt.text }} </option>
                    </select>&nbsp; &nbsp;

                    <select name="polarYear" [(ngModel)]="polarYear" class="form-control ">
                      <option *ngFor="let year of dataYears" [value]="year"> {{ year }} </option>
                    </select>&nbsp; &nbsp;

                    <button class="btn btn-outline-light" (click)="onLoadServices()" [disabled]="polarLoading">
                      <i *ngIf="!polarLoading" class="fas fa-sync-alt"></i>
                      <i *ngIf="polarLoading" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5">
        <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="text-uppercase text-muted ls-1 mb-1">Usuarios registrados</h6>
                        <h5 class="h3 mb-0">Usuarios en el mes</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- Chart -->

                <div class="chart">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                    </canvas>
                </div>

                <div style="position: absolute; bottom: 20px !important;" class="custom-control custom-radio custom-control-inline">

                    <select name="pieMonth" [(ngModel)]="pieMonth" class="form-control ">
                      <option *ngFor="let mt of dataMonth" [value]="mt.value"> {{ mt.text }} </option>
                    </select>&nbsp; &nbsp;

                    <select name="pieYear" [(ngModel)]="pieYear" class="form-control ">
                      <option *ngFor="let year of dataYears" [value]="year"> {{ year }} </option>
                    </select>&nbsp; &nbsp;

                    <button class="btn btn-outline-light" (click)="onLoadUsers()" [disabled]="pieLoading">
                      <i *ngIf="!pieLoading" class="fas fa-sync-alt"></i>
                      <i *ngIf="pieLoading" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-7">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Page visits</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Page name</th>
                            <th scope="col">Visitors</th>
                            <th scope="col">Unique users</th>
                            <th scope="col">Bounce rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                /argon/
                            </th>
                            <td>
                                4,569
                            </td>
                            <td>
                                340
                            </td>
                            <td>
                                <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                /argon/index.html
                            </th>
                            <td>
                                3,985
                            </td>
                            <td>
                                319
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                /argon/charts.html
                            </th>
                            <td>
                                3,513
                            </td>
                            <td>
                                294
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                /argon/tables.html
                            </th>
                            <td>
                                2,050
                            </td>
                            <td>
                                147
                            </td>
                            <td>
                                <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                /argon/profile.html
                            </th>
                            <td>
                                1,795
                            </td>
                            <td>
                                190
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-5">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Social traffic</h3>
                    </div>
                    <div class="col text-right">
                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Referral</th>
                            <th scope="col">Visitors</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Facebook
                            </th>
                            <td>
                                1,480
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Facebook
                            </th>
                            <td>
                                5,480
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">70%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Google
                            </th>
                            <td>
                                4,807
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">80%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Instagram
                            </th>
                            <td>
                                3,678
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">75%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                twitter
                            </th>
                            <td>
                                2,645
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">30%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>