.timeline-content {
    position: relative;
    position: relative;
    top: -6px;
    margin-left: 60px;
    padding-top: .5rem;
}

[data-timeline-axis-style=dashed]:before {
    border-right-style: dashed!important;
}

.timeline {
    position: relative;
}

.timeline-step {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    left: 0;
    display: inline-flex;
    width: 33px;
    height: 33px;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.timeline-step i,
.timeline-step svg {
    line-height: 1.4;
}

.ni {
    display: inline-block;
    font: normal normal normal 14px/1 NucleoIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-one-side .timeline-step {
    left: 1rem;
}

@media (min-width: 992px) .timeline-step {
    left: 50%;
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

.timeline:before {
    position: absolute;
    top: 0;
    left: 0.9rem;
    height: 100%;
    content: '';
    border-right: 2px solid #e9ecef;
}

.timeline-block:after {
    display: table;
    clear: both;
    content: '';
}

.timeline-one-side .timeline-content {
    max-width: 30rem;
}

.timeline-one-side .timeline-content {
    width: auto;
}

.timeline-content {
    width: 38%;
}

.timeline-content {
    position: relative;
    position: relative;
    top: -6px;
    margin-left: 60px;
    padding-top: .5rem;
}

.timeline-content:after {
    display: table;
    clear: both;
    content: '';
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

i-bell-55::before {
    content: "\ea0e";
}

.badge-success {
    color: #1aae6f;
    background-color: #b0eed3;
}

.swiper-container {
    width: 99%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.containerTime {
    max-height: 750px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.borderImg {
    border: 1px solid royalblue;
}