<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <div>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RateModal">
                                        Nuevo
                                    </button>
                                </th>
                                <th colspan="4" id="alertRate">

                                </th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Jornada</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Min</th>
                                <th scope="col">Fecha</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">

                            <tr *ngFor="let rate of dataRate | rowIndex: pagination.currentPage">
                                <th scope="row">
                                    {{ rate.rowIndex }}
                                </th>
                                <td class="budget">
                                    {{ rate.nameCategory }}
                                </td>
                                <td>
                                    {{ rate.nameJournal }} - {{ rate.hourStart }}:00 , {{ rate.hourEnd }}:00
                                </td>
                                <td>
                                    {{ rate.priceRate | number: '.2-2' }}
                                </td>
                                <td>
                                    {{ rate.priceMin | number: '.2-2' }}
                                </td>
                                <td>
                                    {{ rate.dateRegister | date }}
                                </td>
                                <td class="text-right">
                                    <button *ngIf="rate.statusRegister" class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#RateModal" (click)="onEdit( rate.pkRate )">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button class="btn btn-outline-primary btn-icon" type="button" data-toggle="modal" data-target="#confirmModal" (click)="onConfirm( rate.pkRate )">
                                        <span *ngIf="rate.statusRegister">
                                            <i class="fa fa-trash"></i>
                                        </span>

                                        <span *ngIf="!rate.statusRegister">
                                            <i class="fa fa-recycle"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="row">
                                        <div class="col-7">
                                            {{ infoPagination }}
                                        </div>
                                        <div class="col-5">
                                            <span class="">
                                                Ver inactivos
                                            </span>&nbsp;
                                            <label class="custom-toggle chkInactive">
                                                <input type="checkbox" name="showInactive" [(ngModel)]="showInactive"
                                                    (click)="onGetRate(1, true)">
                                                <span class="custom-toggle-slider rounded-circle"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th colspan="4">

                                    <div *ngIf="pagination.currentPage" class="text-right">

                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center mt-2">

                                                <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                    <a class="page-link" (click)="onGetRate(pagination.currentPage - 1)">
                                                        <i class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                    <a class="page-link" (click)="onGetRate(page)">
                                                        {{ page }}
                                                    </a>
                                                </li>

                                                <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                    <a class="page-link" (click)="onGetRate(pagination.currentPage + 1)">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="RateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{ titleModal }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onReset()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #frmRate="ngForm" id="frmRate">
                    <div class="form-group">
                        <label for="txtFkCategory">Categoría</label>
                        <select class="form-control" id="txtFkCategory" name="fkCategory" placeholder="Seleccione Categoría" #category="ngModel" [(ngModel)]="bodyRate.fkCategory" required [ngClass]="{'is-invalid': category.errors?.required && category.touched,
                        'is-valid': !category.errors?.required && category.touched}">
                          <option value="" disabled selected></option>
                            <option [value]="item.pkCategory" *ngFor="let item of dataCategory">
                              {{item.nameCategory}}
                            </option>
                        </select>

                        <span *ngIf="category.errors?.required && category.touched">
                          <small class="text-danger">*Requerido</small>
                      </span>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="txtFkJournal">Jornada</label>
                                <select class="form-control" id="txtFkJournal" name="fkJournal" placeholder="Seleccione Categoría" #fkJournal="ngModel" [(ngModel)]="bodyRate.fkJournal" required [ngClass]="{'is-invalid': fkJournal.errors?.required && fkJournal.touched,
                            'is-valid': !fkJournal.errors?.required && fkJournal.touched}">
                                      <option value="" disabled selected>--Seleccione--</option>
                                      <option [value]="item.pkJournal" *ngFor="let item of dataJournal">
                                        {{item.nameJournal}} - {{ item.hourStart }}:00 , {{ item.hourEnd }}:00
                                    </option>
                                </select>

                                <span *ngIf="fkJournal.errors?.required && fkJournal.touched">
                                    <small class="text-danger">*Requerido</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="txtPriceRate" class="form-control-label">Precio</label>
                                        <input class="form-control text-right" type="number" id="txtPriceRate" name="priceRate" #priceRate="ngModel" [(ngModel)]="bodyRate.priceRate" [ngClass]="{
                                          'is-invalid': (priceRate.errors?.required || priceRate.errors?.minlength || bodyRate.priceRate <= 0 ) && priceRate.touched,
                                          'is-valid': !priceRate.errors?.required && !priceRate.errors?.minlength && bodyRate.priceRate > 0 && priceRate.touched}" required minlength="1" min="1">

                                        <span *ngIf="priceRate.errors?.required && priceRate.touched">
                                            <small class="text-danger">*Requerido</small>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="txtPriceMin" class="form-control-label">M&iacute;nimo</label>
                                        <input class="form-control text-right" type="number" id="txtPriceMin" name="priceMin" #priceMin="ngModel" [(ngModel)]="bodyRate.priceMin" [ngClass]="{
                                        'is-invalid': (priceMin.errors?.required || bodyRate.priceMin <= 0 || priceMin.errors?.minlength ) && priceMin.touched,
                                        'is-valid': !priceMin.errors?.required && bodyRate.priceMin > 0 && !priceMin.errors?.minlength && priceMin.touched}" required minlength="1" min="1">

                                        <span *ngIf="priceMin.errors?.required && priceMin.touched">
                                          <small class="text-danger">*Requerido</small>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" id="alertRateModal">

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseModal" class="btn btn-secondary" data-dismiss="modal" (click)="onReset()">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="frmRate.invalid || bodyRate.priceRate <= 0 || bodyRate.priceMin <= 0 || loading" (click)="onSubmit(frmRate)">
                    {{ textButton }}
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje al usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Est&aacute; seguro(a) de <strong class="text-primary">{{ actionConfirm }}</strong> este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseConfirm">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="loading" (click)="onDelete()">
                    Aceptar
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-pulse "></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
